<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu1">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>
        </ul>
        <!-- 展示一级菜单结构，需要模块判断是否是当前活动模块，需要code加载对应模块，利用state进行跳转，展示icon，及显示的菜单名称name -->
        <ul side-navigation class="nav metismenu" id="side-menu" ng-repeat="menu in main.menuList">
            <li ng-class="{active: $state.includes(menu.module)}">
                <a ng-click="main.navigate(menu.code, menu.state)">
                    <i class="{{menu.icon}}"></i>
                    <span class="nav-label">{{menu.name}}</span>
                </a>
            </li>
        </ul>

        <!-- 展示二级菜单结构,同一模块下的菜单具有相同的模块码值，模块码值与需要与该模块下的公共state值保持一致 -->
        <ul ng-repeat="module in main.accessMenuList" side-navigation class="nav metismenu" id="side-menu3">
            <li ng-class="{active: $state.includes(module.code)}">
                <a href=""><i class="{{module.icon}}"></i> <span class="nav-label">{{module.name}}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes(module.code)}" ng-repeat="menu in module.menuList">
                    <li ng-class="{active: $state.includes(menu.code)}">
                        <a ng-click="main.navigate(menu.name, menu.state)">
                            <i class="{{menu.icon}}"></i>
                            <span class="nav-label">{{menu.name}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>